<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Our Team Section</title>
	<link rel="stylesheet" href="../static/styles/aboutus.css?{{ cache_id }}">
  <link rel="stylesheet" href="../static/styles/footer.css?{{ cache_id }}">
  <link rel="stylesheet" href="../static/styles/nav.css?{{ cache_id }}">
</head>
<body>
    <nav></nav>

<div class="wrapper">
  <h1>Our Team</h1>
  <div class="team">
    <div class="team_member">
      <div class="team_img">
        <img src="../static/images/about_us/ouail.jpg" alt="Team_image">
      </div>
      <h3>Ouail Berramou</h3>
      <p class="role">Full stack developer & DevOps</p>
      <p>Full Stack Developer with DevOps experience excels in front-end and back-end web development.</p>
    </div>
    <div class="team_member">
      <div class="team_img">
        <img src="../static/images/about_us/fatima-ezzahra.jpg" alt="Team_image">
      </div>
      <h3>Fatima ez_zahra kouirs</h3>
      <p class="role">Full stack developer & DevOps</p>
      <p>Full Stack Developer with DevOps experience excels in front-end and back-end web development.</p>
    </div>
    <div class="team_member">
      <div class="team_img">
        <img src="../static/images/about_us/mouad.jpg" alt="Team_image">
      </div>
      <h3>Mouad Khanouch</h3>
      <p class="role">Full stack developer & DevOps</p>
      <p>Full Stack Developer with DevOps experience excels in front-end and back-end web developmentt.</p>
    </div>
  </div>
</div>
 <footer id="footer"></footer>
 <script src="../static/scripts/nav.js"></script>
<script src="../static/scripts/footer.js"></script>

</body>

</html>
